h1 {
    background-color: navy;
    text-align: center;
    color: beige;
    font-size: 80px;
}

.forecast-card {
    background-color: cornflowerblue;
    margin: 10px;
    border-radius: 25%;
    text-align: center;
}


.submit-btn {
    background-color:  cornflowerblue;
}

.forecast-date {
    white-space: nowrap;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.city-btn {
    border: 1px solid black;
}
